# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Docker
.docker/
docker-compose.override.yml

# Environment
.env
.env.*

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads
app/static/uploads/

